body{
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
    word-spacing: 1.5vmin;
    line-height: 1.7vmax;
}
.navbar{
    display: flex;
    background-color: rgba(247, 183, 7, 0.938);
    justify-content: flex-start;
    justify-self: center;
    align-items: center;
    align-self: center;
    align-content: center;
    padding: 1.5em;
}
.nav-element{
    margin-left: 2.5em;
    color:blue;
    text-decoration: none;
    font-family: monospace;
    font-weight: 500;
    font-size: x-large;
}

.nav-image{
    width:14%;
}
#Home{
    height: 100vh;
    width: 100%;
    background-image: url("/TalentServe/imgs/pic2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#About-Us{
    margin: 3em;
    height: 90vh;
    display: flex;
    flex-direction: row;
}
.AboutUsImg{
    height:90%;
    width: 40%;
}
#OurServices{
    background-color: whitesmoke;
    padding: 1em ;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;
}
.studentimg{
    width:40vw;
}
footer{
    padding: 1em;
    
    background-color: darkslategrey;
    display: flex;
    flex-direction: row;
}
.footerlogo{
    width: 14%;
    height: 25%;
}
#contacts{
    margin-left: 10em;
    color: white;
}
.navigation{
    margin-left: 8em;
    color: white;
    display: flex;
    flex-direction: column;
}
.nava{
    color: white;
    text-decoration: none;
}
.nava:hover{
    color: violet;
}
.footer-fb{
    margin-right: 5px;
    padding: 1em;
    background-image: url("/TalentServe/imgs/Fb.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.footer-li{
    padding: 1em;
    margin-right: 5px;
    background-image: url("/TalentServe/imgs/LinkedIn.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.footer-tw{
    padding: 1em;
    margin-right: 5px;
    background-image: url("/TalentServe/imgs/Rename.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
