body{
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
    word-spacing: 1.5vmin;
    line-height: 1.7vmax;
}
.navbar{
    display: flex;
    background-color: rgba(247, 183, 7, 0.938);
    justify-content: flex-start;
    justify-self: center;
    align-items: center;
    align-self: center;
    align-content: center;
    padding: 1.5em;
}
.nav-element{
    margin-left: 2.5em;
    color:blue;
    text-decoration: none;
    font-family: monospace;
    font-weight: 500;
    font-size: x-large;
}

.nav-image{
    width:14%;
}

#About-Us{
    margin-top: 5em; margin-left: 3em;margin-right: 3em;margin-bottom: 0em;
    height: 90vh;
    display: flex;
    flex-direction: row;
}
.AboutUsImg{
    height:90%;
    width: 40%;
}
#OurServices{
    background-color: whitesmoke;
    padding: 1em ;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 1;
}
.studentimg{
    width:40vw;
}
footer{
    padding: 1em;
    
    background-color: darkslategrey;
    display: flex;
    flex-direction: row;
}
.footerlogo{
    width: 14%;
    height: 25%;
}
#contacts{
    margin-left: 10em;
    color: white;
}
.navigation{
    margin-left: 8em;
    color: white;
    display: flex;
    flex-direction: column;
}
.nava{
    color: white;
    text-decoration: none;
}
.nava:hover{
    color: violet;
}
.footer-fb{
    margin-right: 5px;
    padding: 1em;
    background-image: url("/TalentServe/imgs/Fb.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.footer-li{
    padding: 1em;
    margin-right: 5px;
    background-image: url("/TalentServe/imgs/LinkedIn.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.footer-tw{
    padding: 1em;
    margin-right: 5px;
    background-image: url("/TalentServe/imgs/Rename.png");
    background-size: 100%;
    background-repeat: no-repeat;
}


#Home{ 
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: row;
         }

.slide{
    position:absolute;
    width: 100%;
    height: 90vh;
    top:0;
    bottom:2em;
    animation: slideshow 12s linear 0s infinite;
}

.slide:nth-child(2) {
  z-index: 2;
  animation-delay: 4s;
}

.slide:nth-child(3) {
  z-index: 1;
  animation-delay: 8s;
}

@keyframes slideshow {
   25% { opacity: 1;}
   33.33% { opacity: 0;} 
   91.66% { opacity: 0;}
   100% { opacity: 1;}
}
.orange-fade {
    background: #ff910e;
    background: linear-gradient(135deg,#ff910e 0,#ffa841 100%);
}
.pos-r {
    position: relative!important;
}
.white {
    background: #fff;
}
.text-white {
    color: #fff!important;
}
.text-gray {
    color: #363636;
}
.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.separator {
    width: 14%;
    height: 3px;
    margin: 1.2em auto 1em;
    background: #ffc53a;
}
.one-slide {
  border-radius: 3px;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.1rem;
  height: 300px;
}
#Services{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50vh;
    padding-bottom: 5em;
}
.service-img{
    width: 25%;
    background-image: url("/imgs/pic2.jpg");
    background-size: 130%;
    background-repeat: no-repeat;
}
.service-img1{
    width: 25%;
    background-image: url("/imgs/pic1.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
}
.service-img2{
    width: 25%;
    background-image: url("/imgs/pic3.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
}
.hello:hover{
    box-shadow:5px 10px rgba(44, 31, 31, 0.377);
    opacity: 0.8;
}
